.about-container {
  @include set-background-wave("./App/About/wave.svg");

  p {
    margin-left: 3rem;
    text-align: justify;
    text-indent: 2rem;
    color: $dark;
  }
}

@media screen and (max-width: $screen-md) {
  .about-container {
    padding-bottom: 9rem;

    p{
      margin: 0 1rem;
    }
  }
}
