.section {
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 2rem;
  align-items: center;
}

@media screen and (max-width: $screen-md) {
  .section{
    height: auto;
    padding-top: 5rem;
    // padding-bottom: 5rem;
  }
}