.section {
  min-height: auto;
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 2rem;
  align-items: center;

  >div{
    width: 100%;
  }
}

@media screen and (max-width: $screen-md) {
  .section{
    min-height: 100vh;
    height: auto;
    padding-top: 5rem;
  }
}