.section {
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 2rem;
  align-items: center;
}

@media screen and (max-width: $screen-sm) {
  .section {
    height: auto!important;
    align-items: start;
    padding-top: 5rem;
  }
}
