.works-container{
    @include set-background-wave("./App/Works/wave.svg");    
}

@media screen and (max-width: $screen-sm) {
    .works-container{
        padding-top: 0;
        padding-bottom: 5rem;
    }
}


@media screen and (max-width: $screen-md) {
    .works-container{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}