$white: #f4f4f4;

$primary: #a6bbcc;
$light: $white;
$dark: #211f20;
$secondary: #8798a1;
$success: #65b36e;
$warning: #f1c453;
$danger: #e56d6d;

$body-color: $white;
$body-bg: $dark;

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
